<div class="container header-container">
    <div class="logo">
        <a href="#hero">
            <img src="assets/svgs/notoria-logo.svg" alt="Notória Marketing" class="logo-img">
        </a>
    </div>
    <nav id="nav-menu">
        <ul>
            <li><a href="#hero" class="active">Início</a></li>
            <li><a href="#servicos">Serviços</a></li>
            <li><a href="#metodo">Método</a></li>
            <li><a href="#sobre">Sobre</a></li>
        </ul>
    </nav>
    <div class="header-actions">
        <a href="#contato" class="btn-glow">Agendar Consultoria <span
                class="material-symbols-rounded">arrow_forward</span></a>
        <div class="menu-toggle" id="mobile-btn">
            <span class="material-symbols-rounded">menu</span>
        </div>
    </div>
</div>