<div class="container header-container">
    <div class="logo">
        <a href="/">
            <img src="assets/svgs/notoria-logo.svg" alt="Notória Marketing" class="logo-img">
        </a>
    </div>

    <nav id="nav-menu">
        <ul>
            <li><a href="#hero" class="active">Início</a></li>
            <li><a href="#servicos">Serviços</a></li>
            <li><a href="#metodo">Método</a></li>
            <li><a href="#sobre">Sobre</a></li>
        </ul>
        
        <a href="#contato" class="btn-glow">
            Agendar Consultoria
            <span data-icon="arrow_forward"></span>
        </a>
    </nav>

    <div class="header-actions">
        <button id="theme-toggle" class="theme-btn" aria-label="Alternar Tema">
        <span data-icon="moon"></span> </button>

        <div class="menu-toggle" id="mobile-btn">
           <span data-icon="menu"></span>
        </div>
    </div>
</div>